<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Items</title>
</head>
<body>
      <%- include('../partials/_navbar.ejs') %>
    <h1>All Food Items</h1>

<% item.forEach(food => { %>
  <div >
    <a href="/items/edit/<%= food._id %>">
        <p>Name: <%= food.name %></p>
        <p>Quantity: <%= food.quantity %></p>
        <p>Description: <%= food.description %></p>
    </a>
    <form action="/items/<%= food._id %>?_method=DELETE" method="POST" style="display:inline;">
      <button type="submit">Delete</button>
    </form>
  </div>
<% }); %>

</body>
</html>